*~
LogisticRegression/.ipynb_checkpoints/
LogisticRegression/__pycache__/
OneHiddenLayerNN/.ipynb_checkpoints/*
OneHiddenLayerNN/Training1LNNonMNIST.ipynb
OneHiddenLayerNN/Untitled.ipynb
OneHiddenLayerNN/__pycache__/
OneHiddenLayerNN/data_banknote_authentication.txt
OneHiddenLayerNN/.ipynb_checkpoints
OneHiddenLayerNN/.ipynb_checkpoints/Untitled-checkpoint.ipynb